@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@400;700&display=swap');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Noto Sans Bengali', sans-serif;
}

/* Combined color + opacity pulse animation */
@keyframes pulse-color-opacity {
  0%   { color: #FF0000; opacity: 1; }   /* Red */
  20%  { color: #f59e0b; opacity: 0.6; } /* Amber */
  40%  { color: #FFFFFF; opacity: 1; }   /* Emerald */
  60%  { color: #FFFFFF; opacity: 0.6; } /* Blue */
  80%  { color: #FFFFFF; opacity: 1; }   /* Violet */
  100% { color: #FFFF00; opacity: 1; }   /* Red */
}

.animate-pulse-color {
  animation: pulse-color-opacity 1s infinite;
  transition: color 0.3s;
}

/* globals.css */

/* লাইভ গ্রেডিয়েন্ট ব্যাকগ্রাউন্ড */
.bg-live-gradient {
  background: linear-gradient(-45deg, #051b34, #450101, #041f0f, #0e0108, #2b1122);
  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} 

/* লাইভ গ্রেডিয়েন্ট ব্যাকগ্রাউন্ড */
.bg-live-gradienttow {
  background: linear-gradient(-45deg, #450101, #7b9602, #530e3d, #0e0108, #a4e40c);
  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


